html body{
    background: #2d2d30;
    color: aqua !important;  
}

.sfbg{
    background: #2d2d30 !important; 
    color: #fff;  
}

a{
    color: aqua !important;
}

.RNNXgb{
    background: white !important; 
    color: #fff;  
}

.UUbT9{
    background: white !important; 
    color: #fff;
    border-radius: 30px;  
}

.zItAnd, .zItAnd:link, .lJ9FBc input[type="submit"], .gbqfba{
    background: #2d2d30 !important;
    color: aqua !important;
    border-radius: 0px !important;
}

.c93Gbe, .appbar, .LHJvCe, .Ww4FFb{
    background: #2d2d30 !important;
    color: aqua !important;
}

.uU7dJb, cite, .dyjrff, .pHiOh, .cHaqb{
    color: aqua !important;
}

.VuuXrf, .yDYNvb.lyLwlc, .yXK7lf em, .uo4vr, .YrbPuc, .z8gr9e{
    color: #fff !important;
}

a:visited{
    color: yellow !important;
}



